// The header component.

.header {
  background-color: #17337C;

  &__branding {
    width: 398px;
    margin: 0 auto;
    text-align: center;
  }

  &__date{
    background: url("../images/header__date.png") no-repeat;
    background-position: center;
    height: 338px;
    background-size: 680px;
    margin: 0 auto;
    width: 800px;
  }
}