.site-logo{
  img{
    width: 300px;
  }
}

.title{
  font-size: 2em;
  font-weight: bold;
}

.path-frontpage{
  .menu--main{
    display: none;
  }
}

// Speakers Background
#speakers {
  background: url("../images/speakers/speakers-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
