.site-logo{
  img{
    width: 300px;
  }
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.path-frontpage{

  .menu--main{
    position: fixed;
    top: -200px;
    z-index: 999;
    background-color: #112558;
    right: 0;
    left: 0;
    display: block!important;
    transition: all 0.5s ease;
  }

  .is_fixed{
    transition: all 0.5s ease;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #112558;
    right: 0;
    left: 0;
    display: block!important;
  }

  .user-logged{

  }

}
