// The newsletter component

.newsletter {
  background-color: #0275bb;
  background-image: url('../assets/images/newsletter-bg.png');
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #fff;
  overflow: hidden;

  &__title {
    margin-top: 50px;
    margin-bottom: 35px;
  }

  &__text {
    max-width: 570px;
    margin-bottom: 35px;
  }

  &__form {
    position: relative;
    width: 400px;
    margin-bottom: 100px;
    overflow: hidden;
  }

  &__email {
    padding: 26px 24px;
    font-size: 14px;
    line-height: 14px;
    width: 360px;
    border: 0;
    border-bottom: 1px solid #88d3db;
    color: #0275bb;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #0275bb;
    }

    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #0275bb;
      opacity:  1;
    }

    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #0275bb;
      opacity:  1;
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    #0275bb;
    }
  }

  &__submit {
    width: 80px;
    height: 100%;
    border: 0;
    background: url('../assets/images/submit.jpg') no-repeat 50% 50%;
    text-indent: -66666px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.680, -1.550, 0.265, 1.550);
    &:hover {
      transform: translateX(15px) scale(1.02);
    }
  }
}


// Mobile styles ( visible on all media up to 767px which is usually tablets on portrait orientation )
@media (max-width: 767px) {
  .newsletter {
    &__form {
      width: 300px;
    }
    &__email {
      width: 300px;
    }
  }
}