// The plane component.

// The background layers
.plane-container {
  background-image: url('../images/info/back-overlay.png'),
                    url('../images/info/cont-back.jpg');
  background-position: center center, center center ;
  background-repeat: no-repeat, repeat;
  position: relative;
  //height: 80vh;
  padding: 100px 0;
  z-index: 1;
  .subtitle {
    margin-top: 0;
    //padding-top: 10%;
  }
  .horizontal-divider {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 2px;
      height: 100%;
      background: $blue-light;
    }
    & + .col-1-2 {
      padding-left: $grid-gutter;
    }
  }
  .sun-bg {
    background: url("../images/info/sun.png") 50% 50% no-repeat;
    background-size: contain;
    max-width: 700px;
    margin: 50px auto;
    padding: 50px 0;
  }
  // graphics
  .fx {
    position: absolute;
    display: block;
    z-index: -1;
    &.aeroplanaki {
      left: 15%;
      top: 28%;
    }
    &.sinefaki-bottom-left {
      bottom: 15%;
      left: 23%;
    }
    &.sinefaki-top-right {
      top: 35%;
      right: 19%;
    }
    &.drupalosima {
      bottom: 0;
      left: 50%;
      margin-left: -103px;
    }
  }
}