// The slice component.
.register {
  background-color: $another-lighter-blue;

  &__panel {
    background-color: white;
    padding: 30px 35px 35px 35px;

    &--to-poulaki-tsiou {
      position: relative;

      &:before {
        width: 102px;
        height: 76px;
        display: block;
        content: "";
        position: absolute;
        top: -76px;
        left: 30px;
        background-image: url('../images/poulaki.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
      }
    }

    &--bottom-flair {
      background-color: $red;
    }

    &--top-flair {

    }
  }
}

// The Circular button
$circle-size:             60px;
$border-width:            5px;
.circular-button {
  -webkit-appearance: none;
  overflow: visible;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: $blue-dark;
  width: $circle-size;
  height: $circle-size;
  line-height: $circle-size - ($border-width * 2);
  border-radius: 50%;
  border-image: url("../images/circle-border.svg") 20 stretch;
  border-image-width: 20px;
  border-width: $border-width;
  border-style: solid;
  box-shadow: 0 0 0 3px $blue-dark;
  transition: 0.1s all;
  &:hover {
    box-shadow: 0 0 0 5px $blue-dark;
  }
}