// The social component.

.social{
  background-color: #17337C;
  color: #FFF;
  position: relative;

  &__links{
    float: right;
  }

  &__link{
    float: left;
  }

  a {
    color: $blue-light;
  }

  &__title {
    margin-bottom: 35px;
  }

  &__text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    margin-top: 35px;

    &--small {
      font-size: 15px;
    }
  }

  &__copy {
    font-size: 11px;
    letter-spacing: -0.1px;
    padding: 30px 0;
  }

  &__copyright {
    text-align: left;

    img{
      vertical-align: middle;
    }
  }

  &__devs{
    text-align: right;
  }

  &__bg-top-lines {
    background-image: url("../images/blue-lines.png");
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
    top: 25px;
  }

  &__bg-bottom-lines {
    background-image: url("../images/blue-lines.png");
    background-repeat: repeat-x;
    width: 100%;
    position: absolute;
    bottom: 85px;
  }
}