
// Speakers Background
#speakers {
  background: url("../images/speakers/speakers-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}


// Images with decagon clipping styles
.decagon {
  max-width: 175px;
  height: auto;
  opacity: 0.8;
  -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}
