{{ attach_library('drupalcampathens2016/irene-styling') }}

<main class="main main--inner">
    <article>
        <div class="heading">
            <h1 class="container">Submit your proposal</h1>
        </div>
        <div class="content">
            <div class="content__container container">
                <section class="split-content">
                    <div class="split-content__side">
                        Sessions are at the heart of DrupalCamp Athens, and we'd love you to be a part of it.<br><br>
                        If you've got something to say about frontend, backend, community, or anything else even remotely Drupal related we want you to speak.<br><br>
                        Submit your session today!<br><br>
                        <em>* Note: sessions should be in english and their duration about 45-50 minutes</em>
                    </div>
                    <div class="split-content__side">
                       {{ proposalForm }}
                        <div id="response-message"></div>
                    </div>
            </div>
        </div>
    </article>
</main>