<main class="main main--inner">
    <article>
        <div class="heading">
            <h1 class="container">Become a volunteer</h1>
        </div>
        <div class="content">
            <div class="content__container container">
                <section class="split-content">
                    <div class="split-content__side">
                        DrupalCamp Athens is an event by the community for the community.<br><br>
                        If you want to support an awesome event and get to meet the dedicated core organising team up close and personal this is your chance!<br><br>
                        We have all sorts of needs and can definitely use more help either on the days of the event or before.
                    </div>
                    <div class="split-content__side">
                        {{ volunteerForm }}
                        <div id="response-message"></div>
                    </div>
                </section>
            </div>
        </div>
    </article>
</main>