
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 980px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}
h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #88d3db;
}

.page {
  overflow: hidden;
}
/* Home */
.intro {
  text-align: center;
  background: #17337b url(themes/custom/drupalcampathens2016/irene-styles/images/intro_bg.png) 50% 100% no-repeat;
}
.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}
.intro__container:before {
  content: '';
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
  padding-bottom: 100%;
  background-image: radial-gradient(circle, rgb(9, 95, 167) 0%, rgb(14, 80, 152) 35%, rgb(19, 62, 134) 50%, rgb(23, 51, 123) 70%);
}
.intro__image {
  position: relative;
  margin: 0 0 35px;
}
.intro__date {
  position: relative;
  margin: 0 0 70px;
}
.intro__social {
  position: relative;
  padding: 38px 0;
}
.intro__social:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 202px;
  height: 7px;
  margin: 0 0 0 -101px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/social_pattern.png) repeat-x;
}
.intro__social:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 202px;
  height: 10px;
  margin: 0 0 0 -101px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/triangles.png) no-repeat;
}
.intro__social-title {
  margin: 0 0 20px;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
}
.intro__social-link {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}

.about {
  padding: 135px 0 65px;
  text-align: center;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/default_pattern.jpg);
}
.about__container:before {
  content: '';
  position: absolute;
  bottom: 100px;
  left: -30px;
  width: 164px;
  height: 56px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/clouds1.png) no-repeat;
}
.about__container:after {
  content: '';
  position: absolute;
  top: 160px;
  right: -70px;
  width: 203px;
  height: 79px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/clouds2.png) no-repeat;
}
.upper-title {
  margin: 0 0 45px;
  text-align: center;
  font-size: 3rem;
  line-height: 3.5rem;
  text-transform: uppercase;
  color: #0275bb;
}
.about__upper-title {
  position: relative;
  z-index: 1;
}
.about__promo-title {
  position: relative;
  z-index: 1;
  margin: 0 0 80px;
  font-size: 5rem;
  line-height: 5rem;
  color: #17337b;
}
.about__text {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 850px;
  margin: 0 auto;
  text-align: left;
  color: #17337b;
}
.about__text:before {
  content: '';
  position: absolute;
  top: -130px;
  left: -200px;
  width: 320px;
  height: 109px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/plane.png) no-repeat;
}
.about__text:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  margin: -40% 0 0;
  padding-bottom: 80%;
  background-image: url(themes/custom/drupalcampathens2016/irene-styles/images/sun.png), radial-gradient(circle, rgb(252, 241, 186) 0%, rgba(255, 255, 255, 0) 80%);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%, 0 0;
  background:;
}
.about__text p {
  position: relative;
  z-index: 1;
  float: left;
  width: 50%;
  padding: 0 25px;
}
.about__text p:first-child {
  border-right: 1px solid #88d3db;
}
.about__text p:last-child {
  border-left: 1px solid #88d3db;
}
.about__drupal {
  position: relative;
  display: inline-block;
  margin: 60px 0 0;
}

.speakers {
  position: relative;
  z-index: 1;
  padding: 55px 0 75px;
  text-align: center;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/speakers_pattern.jpg);
}
.speakers__upper-title {
  margin: 0 0 60px;
}
.speakers__list {
  margin: 0 0 45px;
}
.speaker {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 230px;
}
.speaker:last-child:before {
  content: '';
  position: absolute;
  top: 65px;
  left: -100px;
  width: 50px;
  height: 58px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/speaker_shape2.png) no-repeat;
}
.speaker:last-child:after {
  content: '';
  position: absolute;
  top: 95px;
  right: -73px;
  width: 34px;
  height: 81px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/speaker_shape1.png) no-repeat;
}
.speaker__photo {
  position: relative;
  display: block;
  width: 187px;
  margin: 0 auto 25px;
}
.speaker__photo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 187px;
  height: 187px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/speaker_mask.png) no-repeat;
}
.speaker__name {
  display: block;
  margin: 0 0 10px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #17337b;
}
.speaker__intro {
  display: block;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #0275bb;
}
.speakers__button {
  display: inline-block;
  padding: 27px 70px;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #0275bb;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.speakers__button:hover {
  background: #17337b;
}

.registration {
  padding: 70px 0 100px;
  text-align: center;
  background: #88d3db;
}
.main-title {
  margin: 0 0 38px;
  text-align: center;
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
}
.registration__main-title {
  color: #fff;
}
.registration__intro {
  max-width: 580px;
  margin: 0 auto 50px;
  color: #252525;
}
.registration__options {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.registration__option {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: left;
  width: 33.3333%;
  padding: 45px 15px 35px;
  background: #fff;
  color: #17337b;
}
.registration__option--paid {
  background: #ed1845;
  color: #fff;
}
.registration__option:first-child:before {
  content: '';
  position: absolute;
  top: -75px;
  left: 30px;
  width: 102px;
  height: 75px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/registration_bird.png) no-repeat;
}
.registration__option:nth-child(2):before {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 46px;
  width: 12px;
  height: 20px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/registration_shape1.png) no-repeat;
}
.registration__option:last-child:before {
  content: '';
  position: absolute;
  top: -10px;
  right: 46px;
  width: 12px;
  height: 20px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/registration_shape2.png) no-repeat;
}
.registration__icon {
  position: relative;
  display: block;
  width: 151px;
  height: 151px;
  margin: 0 auto 30px;
  border-radius: 50%;
}
.registration__icon--free {
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/registration_sun.png) no-repeat;
}
.registration__icon--paid {
  background: #17337b;
}
.registration__icon--paid:after {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  width: 92px;
  height: 140px;
  margin: 0 0 0 -46px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/bag_small.png) no-repeat;
}
.registration__icon--volunteers {
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/registration_volunteers.png) no-repeat;
}
.registration__title {
  max-width: 185px;
  margin: 0 auto 6px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.registration__subtitle {
  margin: 0 0 12px;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #0275bb;
}
.registration__subtitle--paid {
color: #88d3db;
}
.registration__txt {
  max-width: 185px;
  margin: 0 auto 20px;
  font-size: 1.4rem;
  line-height: 1.8rem;
}
.registration__go {
  position: relative;
  display: block;
  width: 84px;
  margin: 0 auto;
  padding: 29px 0 25px;
  border-radius: 50%;
  text-align: center;
  font-size: 2.8rem;
  line-height: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background: #17337b;
  color: #fff;
  overflow: hidden;
}
.registration__go:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 78px;
  height: 78px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/circle_large.png) no-repeat;
}
.registration__go:hover:before {
  -ms-transform: rotate(31deg);
  -webkit-transform: rotate(31deg);
  transform: rotate(31deg);
}
.registration__more {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: #17337b;
}
.registration__more:hover {
  text-decoration: underline;
}

.location {
  padding: 90px 0 295px;
  background: #ffcc00 url(themes/custom/drupalcampathens2016/irene-styles/images/acropolis.png) 50% 100% no-repeat;
  background-size: cover;
}
.location__main-title {
  margin: 0 0 90px;
  color: #fff;
}
.location__athens {
  position: relative;
  max-width: 50%;
  margin: 0 auto;
  padding: 80px 65px;
  background: #fff;
}
.location__athens:before {
  content: '';
  position: absolute;
  top: 30px;
  left: 10px;
  right: 10px;
  height: 9px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/pattern_lines.png) repeat-x;
}
.location__athens:after {
  content: '';
  position: absolute;
  bottom: 32px;
  right: -50px;
  width: 190px;
  height: 36px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/location_shape1.png) no-repeat;
}
.location__athens-subtitle {
  margin: 0 0 24px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #17337b;
}
.location__athens-intro {
  font-size: 1.7rem;
}


.secondary-title {
  margin: 0 0 25px;
  font-size: 4rem;
  line-height: 4rem;
}



/* Submit your proposal */
.header--inner {
  top: 0;
  border-top: 24px solid #030642;
}
.header--home.is-scrolled {
  border: none;
}
.logo--default {
  margin: -24px 0 -23px;
}
.is-scrolled .logo--default {
  display: none;
}
.logo--scrolled {
  display: none;
}
.is-scrolled .logo--scrolled {
  display: block;
}
.main-nagivation--inner {
  margin-top: 48px;
}
.is-scrolled .main-nagivation--inner {
  margin-top: 20px;
}

.main--inner {
  margin: 167px 0 0;
  background: #fff;
}
.heading {
  position: relative;
  margin: 0 0 50px;
  padding: 65px 0 70px;
}
.heading:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/pattern_lines.png) repeat-x;
}
h1 {
  font-size: 5rem;
  line-height: 5.5rem;
  color: #17337b;
}
.split-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 60px;
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: #464646;
}
.split-content__side {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  float: left;
  width: 50%;
  max-width: 50%;
}
.split-content__side:first-child {
  padding: 0 70px 0 0;
}
.form__element {
  margin: 0 0 28px;
  padding: 9px;
  border: 2px solid #0275bb;
}
.form__label {
  display: inline-block;
  margin: -20px 0 0;
  padding: 0 10px;
  font-size: 1.4rem;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: #fff;
  color: #10296b;
}
.form__input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  background: #fff;
  color: #10296b;
}
.form__input:focus {
  background: #dbf6f9;
}
textarea {
  height: 184px;
  resize: none;
}
.form__submit {
  width: 100%;
  padding: 27px 70px;
  border: none;
  outline: none;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #0275bb;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.form__submit:hover {
  background: #17337b;
}

.paid-registration {
  background: #ed1845;
  color: #fff;
}
.paid-registration__container {
  padding-top: 55px;
  padding-bottom: 65px;
}
.paid-registration__container:before {
  content: '';
  position: absolute;
  top: 0;
  right: 10px;
  width: 442px;
  height: 260px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/paid_top.png) no-repeat;
}
.paid-registration__container:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 446px;
  height: 152px;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/paid_bottom.png) no-repeat;
}
.paid-registration__intro {
  position: relative;
  max-width: 370px;
  margin: 0 0 25px;
}
.paid-registration__photo {
  position: absolute;
  top: 50%;
  right: 120px;
  z-index: 1;
  margin: -160px 0 0;
}
.paid-registration__info {
  position: relative;
  max-width: 440px;
}
.paid-registration__more {
  float: right;
}
.paid-registration__title {
  margin: 5px 0 0;
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.paid-registration__cost {
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #88d3db;
}
.paid-registration__link {
  position: relative;
  display: inline-block;
  padding: 29px 100px 25px 30px;
  border: none;
  outline: none;
  font-size: 2rem;
  line-height: 2.4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background: #10296b;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.paid-registration__link:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 12px;
  width: 52px;
  height: 52px;
  margin: -26px 0 0;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/circle_small.png) no-repeat;
}
.paid-registration__link:hover:before {
  -ms-transform: rotate(31deg);
  -webkit-transform: rotate(31deg);
  transform: rotate(31deg);
}
.paid-registration__link:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 28px;
  width: 17px;
  height: 18px;
  margin: -9px 0 0;
  background: url(themes/custom/drupalcampathens2016/irene-styles/images/register_arrow.png) no-repeat;
}
