/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* line 5, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Base stuff: variables, typography */
/* line 11, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  margin: 24px 0;
}

/* line 16, ../sass/_typography.scss */
h1 {
  font-weight: 700;
}

/* line 20, ../sass/_typography.scss */
p {
  margin: 24px 0;
}

/* line 24, ../sass/_typography.scss */
body {
  color: #17337b;
  font-size: 106.25%;
  line-height: 1.41176em;
  font-family: "Open Sans", sans-serif;
}

/* apply a natural box layout model to all elements, but allowing components to change */
/* line 21, ../sass/_base.scss */
html {
  box-sizing: border-box;
}

/* line 24, ../sass/_base.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Layouts */
/* line 18, ../sass/layouts/_layout-center.scss */
.layout-center {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1000px;
}
/* line 29, ../sass/layouts/_layout-center.scss */
.layout-center--shared-grid {
  padding-left: 0;
  padding-right: 0;
}

/* line 7, ../sass/layouts/_layout-2column.scss */
.layout-2column {
  margin-left: -20px;
  margin-right: -20px;
  display: table;
  padding: 70px 0;
}
/* line 14, ../sass/layouts/_layout-2column.scss */
.layout-2column__col-x {
  display: table-cell;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

@media (max-width: 767px) {
  /* line 30, ../sass/layouts/_layout-2column.scss */
  .layout-2column {
    display: block;
  }
  /* line 33, ../sass/layouts/_layout-2column.scss */
  .layout-2column__col-x {
    display: block;
    width: 100%;
  }
  /* line 36, ../sass/layouts/_layout-2column.scss */
  .layout-2column__col-x:not(.plain):nth-child(2n+1) {
    border-right: none;
    margin-bottom: 10px;
  }
}
/* Components */
/* line 2, ../sass/components/_misc.scss */
.site-logo img {
  width: 300px;
}

/* line 7, ../sass/components/_misc.scss */
.title {
  font-size: 2em;
  font-weight: bold;
}

/* line 3, ../sass/components/_header.scss */
.header {
  background-color: #17337C;
}
/* line 6, ../sass/components/_header.scss */
.header__branding {
  width: 398px;
  margin: 0 auto;
  text-align: center;
}
/* line 12, ../sass/components/_header.scss */
.header__date {
  background: url("../images/header__date.png") no-repeat;
  background-position: center;
  height: 338px;
  background-size: 680px;
  margin: 0 auto;
  width: 800px;
}

/* line 3, ../sass/components/_social.scss */
.social {
  background-color: #17337C;
  color: #FFF;
  position: relative;
}
/* line 8, ../sass/components/_social.scss */
.social__links {
  float: right;
}
/* line 12, ../sass/components/_social.scss */
.social__link {
  float: left;
}
/* line 16, ../sass/components/_social.scss */
.social a {
  color: #88d3db;
}
/* line 20, ../sass/components/_social.scss */
.social__title {
  margin-bottom: 35px;
}
/* line 24, ../sass/components/_social.scss */
.social__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  margin-top: 35px;
}
/* line 30, ../sass/components/_social.scss */
.social__text--small {
  font-size: 15px;
}
/* line 35, ../sass/components/_social.scss */
.social__copy {
  font-size: 11px;
  letter-spacing: -0.1px;
  padding: 30px 0;
}
/* line 41, ../sass/components/_social.scss */
.social__copyright {
  text-align: left;
}
/* line 44, ../sass/components/_social.scss */
.social__copyright img {
  vertical-align: middle;
}
/* line 49, ../sass/components/_social.scss */
.social__devs {
  text-align: right;
}
/* line 53, ../sass/components/_social.scss */
.social__bg-top-lines {
  background-image: url("../images/blue-lines.png");
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
  top: 25px;
}
/* line 61, ../sass/components/_social.scss */
.social__bg-bottom-lines {
  background-image: url("../images/blue-lines.png");
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
  bottom: 85px;
}

/* line 3, ../sass/components/_newsletter.scss */
.newsletter {
  background-color: #0275bb;
  background-image: url("../images/newsletter-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #fff;
  overflow: hidden;
  padding: 70px 0;
}
/* line 12, ../sass/components/_newsletter.scss */
.newsletter__title {
  margin-top: 50px;
  margin-bottom: 35px;
}
/* line 17, ../sass/components/_newsletter.scss */
.newsletter__text {
  max-width: 570px;
  margin-bottom: 35px;
}
/* line 22, ../sass/components/_newsletter.scss */
.newsletter__form {
  position: relative;
  width: 400px;
  margin-bottom: 100px;
  overflow: hidden;
}
/* line 29, ../sass/components/_newsletter.scss */
.newsletter__email {
  padding: 26px 24px;
  font-size: 14px;
  line-height: 14px;
  width: 360px;
  border: 0;
  border-bottom: 1px solid #88d3db;
  color: #0275bb;
}
/* line 38, ../sass/components/_newsletter.scss */
.newsletter__email::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #0275bb;
}
/* line 42, ../sass/components/_newsletter.scss */
.newsletter__email:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0275bb;
  opacity: 1;
}
/* line 47, ../sass/components/_newsletter.scss */
.newsletter__email::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0275bb;
  opacity: 1;
}
/* line 52, ../sass/components/_newsletter.scss */
.newsletter__email:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0275bb;
}
/* line 57, ../sass/components/_newsletter.scss */
.newsletter__submit {
  width: 80px;
  height: 100%;
  border: 0;
  background: url("../images/submit.jpg") no-repeat 50% 50%;
  text-indent: -66666px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 20px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.68, -1.55, 0.265, 1.55);
}
/* line 69, ../sass/components/_newsletter.scss */
.newsletter__submit:hover {
  transform: translateX(15px) scale(1.02);
}

@media (max-width: 767px) {
  /* line 79, ../sass/components/_newsletter.scss */
  .newsletter__form {
    width: 300px;
  }
  /* line 82, ../sass/components/_newsletter.scss */
  .newsletter__email {
    width: 300px;
  }
}
