/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* line 5, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../lib/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Base stuff: variables, typography */
/* apply a natural box layout model to all elements, but allowing components to change */
/* line 33, ../sass/_base.scss */
html {
  box-sizing: border-box;
}

/* line 36, ../sass/_base.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global Container and fluid classes
 * maybe this can go into layouts/grid.scss
 * looks like base to me though
 */
/* line 45, ../sass/_base.scss */
.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 52, ../sass/_base.scss */
section > * {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 58, ../sass/_base.scss */
.align-center {
  text-align: center;
}

/* line 63, ../sass/_base.scss */
.button {
  -webkit-appearance: none;
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: #ffffff;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 45px;
  background: #0275bb;
  vertical-align: middle;
  line-height: 80px;
  min-height: 80px;
  font-size: 1.3em;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1px;
}
/* line 83, ../sass/_base.scss */
.button--small {
  font-size: 0.8em;
  padding: 0 22.5px;
  line-height: 40px;
  min-height: 40px;
}

/* line 92, ../sass/_base.scss */
.relative {
  position: relative;
}

/* line 19, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  margin: 24px 0;
}

/* line 24, ../sass/_typography.scss */
h1 {
  font-weight: 700;
}

/* line 28, ../sass/_typography.scss */
p {
  margin: 24px 0;
}
/* line 30, ../sass/_typography.scss */
p.light {
  color: #0275bb;
}

/* line 35, ../sass/_typography.scss */
body {
  color: #17337b;
  font-size: 106.25%;
  line-height: 1.41176em;
  font-family: "Open Sans", sans-serif;
}

/* line 42, ../sass/_typography.scss */
h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: #17337b;
}

/* line 48, ../sass/_typography.scss */
h2 {
  font-size: 2rem;
  line-height: 1.2;
  color: #0275bb;
  text-transform: uppercase;
}

/* line 55, ../sass/_typography.scss */
h3 {
  font-size: 1.6rem;
  line-height: 1.2;
  color: #0275bb;
  text-transform: uppercase;
}
/* line 60, ../sass/_typography.scss */
h3.dark {
  color: #17337b;
  text-transform: capitalize;
  font-weight: 700;
}

/* Layouts */
/* line 18, ../sass/layouts/_layout-center.scss */
.layout-center {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  max-width: 1000px;
}
/* line 29, ../sass/layouts/_layout-center.scss */
.layout-center--shared-grid {
  padding-left: 0;
  padding-right: 0;
}

/* line 7, ../sass/layouts/_layout-2column.scss */
.layout-2column {
  margin-left: -20px;
  margin-right: -20px;
  display: table;
  padding: 70px 0;
}
/* line 14, ../sass/layouts/_layout-2column.scss */
.layout-2column__col-x {
  display: table-cell;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: middle;
}

@media (max-width: 767px) {
  /* line 30, ../sass/layouts/_layout-2column.scss */
  .layout-2column {
    display: block;
  }
  /* line 33, ../sass/layouts/_layout-2column.scss */
  .layout-2column__col-x {
    display: block;
    width: 100%;
  }
  /* line 36, ../sass/layouts/_layout-2column.scss */
  .layout-2column__col-x:not(.plain):nth-child(2n+1) {
    border-right: none;
    margin-bottom: 10px;
  }
}
/* line 7, ../sass/layouts/_layout-3column.scss */
.layout-3column {
  display: table;
  width: 100%;
}
/* line 12, ../sass/layouts/_layout-3column.scss */
.layout-3column__col {
  display: table-cell;
  width: 33.33%;
}

/* This is a very simple grid system
 * that can be easily customized.
 * feel free to make it better ;)
 */
/* line 10, ../sass/layouts/_grid.scss */
.grid {
  box-sizing: border-box;
  background: initial;
  margin: 0 0 20px 0;
}
/* line 14, ../sass/layouts/_grid.scss */
.grid:after {
  content: '';
  display: table;
  clear: both;
}

/* line 21, ../sass/layouts/_grid.scss */
[class*='col-'] {
  float: left;
  padding-right: 20px;
}
/* line 24, ../sass/layouts/_grid.scss */
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 30, ../sass/layouts/_grid.scss */
.col-2-3,
.width-2-3 {
  width: 66.66%;
}

/* line 34, ../sass/layouts/_grid.scss */
.col-1-3,
.width-1-3 {
  width: 33.33%;
}

/* line 38, ../sass/layouts/_grid.scss */
.col-1-2,
.width-1-2 {
  width: 50%;
}

/* line 42, ../sass/layouts/_grid.scss */
.col-1-4,
.width-1-4 {
  width: 25%;
}

/* line 46, ../sass/layouts/_grid.scss */
.col-1-8,
.width-1-8 {
  width: 12.5%;
}

/* line 52, ../sass/layouts/_grid.scss */
.grid-pad {
  padding: 20px 0 20px 20px;
}
/* line 54, ../sass/layouts/_grid.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 20px;
}

/* line 60, ../sass/layouts/_grid.scss */
.horizontal-divider {
  position: relative;
}
/* line 62, ../sass/layouts/_grid.scss */
.horizontal-divider:after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: #88d3db;
}
/* line 71, ../sass/layouts/_grid.scss */
.horizontal-divider + .col-1-2 {
  padding-left: 20px;
}

/* Components */
/* line 2, ../sass/components/_misc.scss */
.title {
  font-size: 2em;
  font-weight: bold;
}

/* line 9, ../sass/components/_misc.scss */
.path-frontpage .menu--main {
  position: fixed;
  top: -200px;
  z-index: 999;
  right: 0;
  left: 0;
}

/* line 17, ../sass/components/_misc.scss */
.layout-container {
  margin: 0;
}

/* line 3, ../sass/components/_header.scss */
.header {
  background-color: #17337C;
}
/* line 6, ../sass/components/_header.scss */
.header__branding {
  width: 398px;
  margin: 0 auto;
  text-align: center;
}
/* line 12, ../sass/components/_header.scss */
.header__date {
  background: url("../images/header__date.png") no-repeat;
  background-position: center;
  height: 338px;
  background-size: 680px;
  margin: 0 auto;
  width: 800px;
}

/* line 1, ../sass/components/_main-menu.scss */
.main-menu {
  transition: all 0.5s ease;
  background-color: #17337C;
  border-top: solid 23px #030642;
  height: 136px;
  margin-bottom: 30px;
}
/* line 9, ../sass/components/_main-menu.scss */
.main-menu__logo {
  float: left;
}
/* line 13, ../sass/components/_main-menu.scss */
.main-menu a {
  color: #FFF;
  text-decoration: none;
}
/* line 18, ../sass/components/_main-menu.scss */
.main-menu a.is-active {
  color: #FFF !important;
  line-height: 80px;
}
/* line 23, ../sass/components/_main-menu.scss */
.main-menu img {
  margin-top: -25px;
}
/* line 27, ../sass/components/_main-menu.scss */
.main-menu .menu {
  background-color: #17337C;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  margin: 15px 50px 0;
}
/* line 35, ../sass/components/_main-menu.scss */
.main-menu .menu-item {
  display: inline-block;
  margin-left: 20px;
}

/* line 41, ../sass/components/_main-menu.scss */
.is_fixed {
  transition: all 0.5s ease;
  position: fixed;
  top: 0 !important;
  z-index: 999;
  right: 0;
  left: 0;
  border: 0;
  height: auto;
}
/* line 51, ../sass/components/_main-menu.scss */
.is_fixed .menu {
  margin-top: 0;
}
/* line 55, ../sass/components/_main-menu.scss */
.is_fixed img {
  margin-top: 0;
}

/* line 3, ../sass/components/_social.scss */
.social {
  background-color: #17337C;
  color: #FFF;
  position: relative;
}
/* line 8, ../sass/components/_social.scss */
.social__links {
  float: right;
}
/* line 12, ../sass/components/_social.scss */
.social__link {
  float: left;
}
/* line 16, ../sass/components/_social.scss */
.social a {
  color: #88d3db;
}
/* line 20, ../sass/components/_social.scss */
.social__title {
  margin-bottom: 35px;
}
/* line 24, ../sass/components/_social.scss */
.social__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  margin-top: 35px;
}
/* line 30, ../sass/components/_social.scss */
.social__text--small {
  font-size: 15px;
}
/* line 35, ../sass/components/_social.scss */
.social__copy {
  font-size: 11px;
  letter-spacing: -0.1px;
  padding: 30px 0;
}
/* line 41, ../sass/components/_social.scss */
.social__copyright {
  text-align: left;
}
/* line 44, ../sass/components/_social.scss */
.social__copyright img {
  vertical-align: middle;
}
/* line 49, ../sass/components/_social.scss */
.social__devs {
  text-align: right;
}
/* line 53, ../sass/components/_social.scss */
.social__bg-top-lines {
  background-image: url("../images/blue-lines.png");
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
  top: 25px;
}
/* line 61, ../sass/components/_social.scss */
.social__bg-bottom-lines {
  background-image: url("../images/blue-lines.png");
  background-repeat: repeat-x;
  width: 100%;
  position: absolute;
  bottom: 85px;
}

/* line 3, ../sass/components/_newsletter.scss */
.newsletter {
  background-color: #0275bb;
  background-image: url("../images/newsletter-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  color: #fff;
  overflow: hidden;
  padding: 70px 0;
}
/* line 12, ../sass/components/_newsletter.scss */
.newsletter__title {
  margin-top: 50px;
  margin-bottom: 35px;
}
/* line 17, ../sass/components/_newsletter.scss */
.newsletter__text {
  max-width: 570px;
  margin-bottom: 35px;
}
/* line 22, ../sass/components/_newsletter.scss */
.newsletter__form {
  position: relative;
  width: 400px;
  margin-bottom: 100px;
  overflow: hidden;
}
/* line 29, ../sass/components/_newsletter.scss */
.newsletter__email {
  padding: 26px 24px;
  font-size: 14px;
  line-height: 14px;
  width: 360px;
  border: 0;
  border-bottom: 1px solid #88d3db;
  color: #0275bb;
}
/* line 38, ../sass/components/_newsletter.scss */
.newsletter__email::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #0275bb;
}
/* line 42, ../sass/components/_newsletter.scss */
.newsletter__email:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #0275bb;
  opacity: 1;
}
/* line 47, ../sass/components/_newsletter.scss */
.newsletter__email::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #0275bb;
  opacity: 1;
}
/* line 52, ../sass/components/_newsletter.scss */
.newsletter__email:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0275bb;
}
/* line 57, ../sass/components/_newsletter.scss */
.newsletter__submit {
  width: 80px;
  height: 100%;
  border: 0;
  background: url("../images/submit.jpg") no-repeat 50% 50%;
  text-indent: -66666px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 20px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.68, -1.55, 0.265, 1.55);
}
/* line 69, ../sass/components/_newsletter.scss */
.newsletter__submit:hover {
  transform: translateX(15px) scale(1.02);
}

@media (max-width: 767px) {
  /* line 79, ../sass/components/_newsletter.scss */
  .newsletter__form {
    width: 300px;
  }
  /* line 82, ../sass/components/_newsletter.scss */
  .newsletter__email {
    width: 300px;
  }
}
/* line 4, ../sass/components/_plane.scss */
.plane-container {
  background-image: url("../images/info/back-overlay.png"), url("../images/info/cont-back.jpg");
  background-position: center center, center center;
  background-repeat: no-repeat, repeat;
  position: relative;
  padding: 100px 0 150px 0;
  z-index: 1;
}
/* line 13, ../sass/components/_plane.scss */
.plane-container .subtitle {
  margin-top: 0;
}
/* line 18, ../sass/components/_plane.scss */
.plane-container .sun-bg {
  background: url("../images/info/sun.png") 50% 50% no-repeat;
  background-size: contain;
  max-width: 700px;
  margin: 50px auto;
  padding: 50px 0;
}
/* line 26, ../sass/components/_plane.scss */
.plane-container .fx {
  position: absolute;
  display: block;
  z-index: -1;
}
/* line 30, ../sass/components/_plane.scss */
.plane-container .fx.aeroplanaki {
  left: 15%;
  top: 28%;
}
/* line 34, ../sass/components/_plane.scss */
.plane-container .fx.sinefaki-bottom-left {
  bottom: 15%;
  left: 23%;
}
/* line 38, ../sass/components/_plane.scss */
.plane-container .fx.sinefaki-top-right {
  top: 35%;
  right: 19%;
}
/* line 42, ../sass/components/_plane.scss */
.plane-container .fx.drupalosima {
  bottom: 50px;
  left: 50%;
  margin-left: -103px;
}

/* line 2, ../sass/components/_register.scss */
.register {
  background-color: #88d3db;
}
/* line 5, ../sass/components/_register.scss */
.register__panel {
  background-color: white;
  padding: 30px 35px 35px 35px;
}
/* line 9, ../sass/components/_register.scss */
.register__panel--to-poulaki-tsiou {
  position: relative;
}
/* line 12, ../sass/components/_register.scss */
.register__panel--to-poulaki-tsiou:before {
  width: 102px;
  height: 76px;
  display: block;
  content: "";
  position: absolute;
  top: -76px;
  left: 30px;
  background-image: url("../images/poulaki.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
}
/* line 27, ../sass/components/_register.scss */
.register__panel--bottom-flair {
  background-color: #ed1845;
}
/* line 29, ../sass/components/_register.scss */
.register__panel--bottom-flair h3 {
  color: #ffffff;
}
/* line 32, ../sass/components/_register.scss */
.register__panel--bottom-flair p {
  color: #88d3db;
}
/* line 34, ../sass/components/_register.scss */
.register__panel--bottom-flair p.light {
  color: #EEEEEE;
}
/* line 44, ../sass/components/_register.scss */
.register .lists {
  text-transform: uppercase;
  text-decoration: none;
  color: #0275bb;
}
/* line 48, ../sass/components/_register.scss */
.register .lists:visited {
  color: #0275bb;
}
/* line 51, ../sass/components/_register.scss */
.register .lists:hover, .register .lists:active {
  color: #ffffff;
}

/* line 61, ../sass/components/_register.scss */
.circular-button {
  -webkit-appearance: none;
  overflow: visible;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #17337b;
  width: 60px;
  height: 60px;
  line-height: 50px;
  border-radius: 50%;
  border-image: url("../images/circle-border.svg") 20 stretch;
  border-image-width: 20px;
  border-width: 5px;
  border-style: solid;
  box-shadow: 0 0 0 3px #17337b;
  transition: 0.1s all;
}
/* line 82, ../sass/components/_register.scss */
.circular-button:hover {
  box-shadow: 0 0 0 5px #17337b;
}

/* line 3, ../sass/components/_speakers.scss */
#speakers {
  background: url("../images/speakers/speakers-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

/* line 10, ../sass/components/_speakers.scss */
.decagon {
  max-width: 175px;
  height: auto;
  opacity: 0.8;
  -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

/* line 3, ../sass/components/_news.scss */
#news {
  background: url("../images/news/news-bg.png") 50% 50% no-repeat;
  min-height: 500px;
  background-size: cover;
}
/* line 7, ../sass/components/_news.scss */
#news h2 {
  color: #ed1845;
}
/* line 10, ../sass/components/_news.scss */
#news .newspadding {
  padding: 0 50px;
}
/* line 13, ../sass/components/_news.scss */
#news .newstitle {
  color: #17337b;
  font-weight: 700;
  font-size: 1em;
}
/* line 18, ../sass/components/_news.scss */
#news .rem-bottom-margin {
  margin-bottom: 0;
}
/* line 21, ../sass/components/_news.scss */
#news small {
  font-size: 0.7em;
  font-weight: 700;
  color: #88d3db;
}

/* line 28, ../sass/components/_news.scss */
.more-arrow {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  padding: 0 !important;
  margin-top: -60px;
}
/* line 35, ../sass/components/_news.scss */
.more-arrow a {
  text-decoration: none;
}
/* line 37, ../sass/components/_news.scss */
.more-arrow a > img {
  transition: 0.2s all ease-in;
}
/* line 40, ../sass/components/_news.scss */
.more-arrow a:hover > img {
  transform: translateX(15px);
}

/* line 3, ../sass/components/_location.scss */
#location {
  background: url("../images/location/location-bg.jpg") 50% 0 no-repeat;
  min-height: 1000px;
  background-size: cover;
}
/* line 7, ../sass/components/_location.scss */
#location h2 {
  color: #fff;
  font-weight: 700;
}

/* line 16, ../sass/components/_location.scss */
.layout-2column__col-x.relative {
  z-index: 0;
}
/* line 18, ../sass/components/_location.scss */
.layout-2column__col-x.relative:before {
  content: "";
  position: absolute;
  display: block;
  background: url("../images/location/blue.png") 50% 50% no-repeat;
  background-size: contain;
  height: 540px;
  width: 500px;
  z-index: -1;
  margin-top: -140px;
}
/* line 29, ../sass/components/_location.scss */
.layout-2column__col-x.relative.alt:before {
  background: url("../images/location/white.png") 50% 50% no-repeat;
}

/* line 4, ../sass/components/_submit-form.scss */
.node-session-submit-form .js-form-item {
  position: relative;
  display: block;
}
/* line 7, ../sass/components/_submit-form.scss */
.node-session-submit-form .js-form-item.form-type-textfield {
  height: 60px;
}
/* line 10, ../sass/components/_submit-form.scss */
.node-session-submit-form .js-form-item input {
  position: absolute;
  width: 100%;
  display: block;
  left: 0;
  top: 0;
  height: 60px;
  background: none;
  border: 3px solid #0275bb;
}
/* line 20, ../sass/components/_submit-form.scss */
.node-session-submit-form .js-form-item textarea {
  border: 3px solid #0275bb;
}
/* line 23, ../sass/components/_submit-form.scss */
.node-session-submit-form .js-form-item .filter-wrapper {
  display: none;
}
/* line 26, ../sass/components/_submit-form.scss */
.node-session-submit-form .js-form-item label {
  position: absolute;
  top: -10px;
  left: 15px;
  background: white;
  z-index: 1;
  padding: 0 10px;
}
/* line 34, ../sass/components/_submit-form.scss */
.node-session-submit-form .js-form-item .description {
  display: none;
}
/* line 37, ../sass/components/_submit-form.scss */
.node-session-submit-form .js-form-item input:focus + .description {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 45, ../sass/components/_submit-form.scss */
.node-session-submit-form .form-type-select label {
  display: block;
}
/* line 49, ../sass/components/_submit-form.scss */
.node-session-submit-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 60px;
  border: 3px solid #0275bb;
}
/* line 56, ../sass/components/_submit-form.scss */
.node-session-submit-form select option {
  font-size: 1.4em;
}
/* line 60, ../sass/components/_submit-form.scss */
.node-session-submit-form #edit-preview {
  display: none;
}

/* line 66, ../sass/components/_submit-form.scss */
.block-page-title-block {
  display: none;
}

/* line 71, ../sass/components/_submit-form.scss */
.lines-separator {
  background-image: url("../images/blue-lines.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 40px;
  position: absolute;
  left: 0;
  top: 10%;
}
